#page-subject-list{
  width: 100vw;
  height: 100vh;
} 

#search-subject {
  margin-top: 3.2rem;

}

#search-subject button {
  width: 100%;
  height: 5.6rem;
  background-color: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#search-subject button:hover {
  background-color: var(--color-secundary-dark);
}

#search-subject label {
  color: var(--color-text-in-primary)
}


#page-subject-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#search-subject a {
  width: 100%;
  height: 5.6rem;
  background-color: var(--color-primary-lighter);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#search-subject a:hover {
  
  background-color: var(--color-primary-light);
  
}
@media(min-width: 700px) {
  #page-subject-list {
    max-width: 100%;

  }

  #search-subject {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position:absolute;
    bottom: -28px;
  }
  #search-subject .input-block + .input-block {
    margin-top: 0;
  }

  #page-subject-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}